notes.txt

python/config.py
python/tmp/*

*.m~
*.mat
.DS_store

*.py[cod]

# C extensions
*.so
proj_simplex_c.cpp
isotonic_regression_c.cpp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.swp

# Vim
*.swo
